body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#login, #register {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

#login {
  background-color: #42b549;
}

#register {
  background-color: #2D3238;
}

#loginForm, #registerForm {
  display: table-cell;
  vertical-align: middle;
}

.form {
  margin: 0 auto;
  width: 300px;
}

#registerForm input {
  background-color: #3C4147;
  color: white;
}

input{
  width: 100%;
  padding: 12px 10px;
  margin: 5px 0;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
}

.button {
  border: none;
  padding: 15px 10px;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
}

.btn-login {
  background-color: #EDEEF2;
  color: #25AE90;
}

.btn-register {
  background-color: #EA4C89;
  color: white;
}

a {
  text-decoration: none;
}

.register-link, .login-link {
  text-align: center;
  margin-top: 50px;
}

.register-link a, .login-link a{
  color: white;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #42b549;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 11;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #fff;
    color: #42b549;
}

.saldo {
  margin-top: 50px;
}